body{
    overflow-x: hidden;
}

header{
    font-family: Helvetica, sans-serif;
}

main,
footer{
    font-family: Arial, sans-serif;
}

ul li img{
    width: 25px;
}

div.my-sony-logo img{
    width: 70px;
    margin-right: 9px;
}

.my-dropdown-img{
    width: 13px;
}

div.btn-secondary{
    background-color: rgb(54, 54, 54);
}

div.my-jumbotron > div.position-absolute{
    top:40%
}

/* div.my-jumbotron > div.position-absolute > img{
    transform: scale(30%) translateX(-119%);
} */

div.my-carosello img{
    border-radius: 20px;
}

div.card{
    width: 173px;
    padding: 0px;
}

.my-sony-logo{
    height:40px;
    background-color: black;
}


.my-full-width,
div.my-carosello img{
    width: 100%;
}

.my-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 662px;
}

.my-margin-right{
    margin-right: 149px;
}


.my-text-grey{
    color: rgb(141, 141, 141);
}

.my-text-blue{
    color: rgb(56, 145, 217);
}
/* classi da eliminare */


.my-carosello-product{
    height: 150px;
    background-color: blue;
}