header{
    font-family: Helvetica, sans-serif;
}

main,
footer{
    font-family: Arial, sans-serif;
}

ul li img{
    width: 25px;
}

div.my-sony-logo img{
    width: 70px;
    margin-right: 9px;
}

.my-dropdown-img{
    width: 13px;
}

div.btn-secondary{
    background-color: rgb(54, 54, 54);
}

/* classi da eliminare */
.my-sony-logo{
    height:40px;
    background-color: black;
}

.my-jumbotron{
    height: 400px;
    background-color: blueviolet;
}

.my-carosello{
    height: 150px;
    background-color: aqua;
}

.my-title-section{
    height: 200px;
    background-color: coral;
}

.my-carosello-product{
    height: 150px;
    background-color: blue;
}