header{
    font-family: Helvetica, sans-serif;
}

main,
footer{
    font-family: Arial, sans-serif;
}

ul li img{
    width: 25px;
}

.my-dropdown-img{
    width: 13px;
}

.my-sony-logo{
    height:20px;
    background-color: aqua;
}

.my-jumbotron{
    height: 400px;
    background-color: blueviolet;
}

.my-carosello{
    height: 150px;
    background-color: aqua;
}

.my-title-section{
    height: 200px;
    background-color: coral;
}

.my-carosello-product{
    height: 150px;
    background-color: blue;
}